POSTGRES_DB=cropleaf
POSTGRES_USER=cropleaf
POSTGRES_PASSWORD={{ postgres_password }}
SECRET_KEY={{ django_secret_key }}
DEBUG=false
ALLOWED_HOSTS={{ allowed_hosts }}
CSRF_TRUSTED_ORIGINS={{ csrf_trusted_origins }}
TF_MODEL_URL={{ tf_model_url | default('') }}
PT_MODEL_URL={{ pt_model_url | default('') }}
